<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    {{>navbar}}
    <form action="/register" method="post">
        <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name">
        </div>
      
           <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name">
        </div>

         <div class="mb-3">
            <label for="email" class="form-label">Email ID</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email Id">
        </div>

         <div class="form-check">
            <input type="radio" class="form-check-input" name="gender" value="male">
            <label for="form-check-label">Male</label>
        </div>
         <div class="form-check">
            <input type="radio" class="form-check-input" name="gender" value="female">
            <label for="form-check-label">Female</label>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Enter Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Email Id">
        </div>
         <div class="mb-3">
            <label for="confirmpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Enter Email Id">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>