<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <% if (name && age && grade) { %>
        <div class="submitted-data" id="details">
            <h2>Submitted Student Information</h2>
            <p>Name: <%= name %></p>
            <p>Age: <%= age %></p>
            <p>Grade: <%= grade %></p>
        </div>
    <% } %>

</body>
</html>